<%= form_for [@slideshow, @slide] do |f| %>
  <% if @slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% @slide.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :slide_type %><br />
    <%= f.select :slide_type_id, SlideType.all.collect { |type| [type.name, type.id] } %>
  </div>
  <div class="actions">
    <%= f.submit nil, :class => "medium button" %>
  </div>
<% end %>
