<% title "Slides for #{@slideshow.name}" %>

<% actions do %>
  <%= link_to 'New Slide', new_slideshow_slide_path, :class => "medium button" %>
<% end %>

<table class="sortable">
  <tbody>
    <% @slides.each do |slide| %>
      <tr id="<%= slide.id %>">
        <td>
          <%= link_to slide.title, [@slideshow, slide] %>
        </td>
        <td class="actions">
          <%= link_to 'Edit', edit_slideshow_slide_path(@slideshow, slide), :class => "button" %>
          <%= link_to 'Destroy', [@slideshow, slide], :class => "red button", :confirm => 'Are you sure?', :method => :delete %>
          <%= clear %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
