<% title "#{@slideshow.name} slides" %>

<% actions do %>
  <%= link_to 'New Slide', new_slideshow_slide_path, :class => "medium button" %>
<% end %>

<table>
  <tr>
    <th>Content</th>
    <th>Slide type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @slides.each do |slide| %>
  <tr>
    <td><%= slide.content %></td>
    <td><%= slide.slide_type %></td>
    <td><%= link_to 'Show', slide %></td>
    <td><%= link_to 'Edit', edit_slideshow_slide_path(slide) %></td>
    <td><%= link_to 'Destroy', slide, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
