<p>
  <b>Title:</b>
  <%= @slide.title %>
</p>

<p>
  <b>Content:</b>
  <%= @slide.content %>
</p>

<p>
  <b>Slide type:</b>
  <%= @slide.slide_type.name %>
</p>


<%= link_to 'Edit', edit_slideshow_slide_path(@slideshow, @slide) %> |
<%= link_to 'Back', slideshow_slides_path %>
