<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @slide.content %>
</p>

<p>
  <b>Slide type:</b>
  <%= @slide.slide_type %>
</p>


<%= link_to 'Edit', edit_slide_path(@slide) %> |
<%= link_to 'Back', slides_path %>
