<% title @slideshow.name %>

<% @slideshow.slides.each do |slide| %>
  <div class="slide">
    <h1><%= slide.title %></h1>
    <% if slide.slide_type.is_calendar? %>
      <% events = get_events slide.content %>
      <% events.each do |e| %>
        <p>
          <strong><%= e[:title] %></strong><br /><br />
          <%= "<strong>When</strong>: #{format_dates e[:start_time], e[:end_time]}".html_safe if e[:start_time] %>
          <%= "// <strong>Where</strong>: #{e[:where]}".html_safe unless e[:where].nil? or e[:where].empty? %>
        </p>
        <hr />
      <% end %>
    <% else %>
      <%= slide.content.html_safe %>
    <% end %>
  </div>
<% end %>
