<% title "Global Settings" %>

<%= stylesheet_link_tag 'settings' %>

<p>The options available for configuration.</p>

<div class="settings-list">
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited the settings from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "form" %>
</div>

<div class="allowed-users">
  <div class="title">Allowed Users</div>
  <p>The users currently allowed to modify slideshows. <%= link_to "Add a user?", new_allowed_user_path %></p>
  <div class="all-users">
    <% @users.each do |user| %>
       <div class="user-display">
         <div class="name"><%= user.name %></div>
         <div class="username"><%= user.username %></div>
         <div class="controls">
           <%= link_to "Show User", allowed_user_path(user), :class => "button" %>
           <%= link_to "Edit User", edit_allowed_user_path(user), :class => "button" %>
           <%= link_to "Delete User", user, :class => "red button", :method => :delete, :confirm => "Are you sure?" %>
         </div>
       </div>
    <% end %>
  </div>
</div>
