<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for? :head_title %>
    <%= yield(:head_title) %>
    - <%= @app_name %>
    <% else %>
    <%= @app_name %>
    <% end%>
  </title>
  <%= stylesheet_link_tag 'application', 'page' %>
  <%= javascript_include_tag 'jquery', 'rails', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="outer-container">
    
    <h1 id="app_name"><%= @app_name %></h1>
    <div id="inner-container">
      
      <% if signed_in? %>
      <div id="current-login">
        Welcome<br />
        <%= link_to "Sign Out", sign_out_path %>
      </div>
      <% end %>
      
      <%= yield(:page_title) if content_for? :page_title %>
      <div id="main-content">
        <%= yield %>
      </div>
      
    </div>
    
    <div id="footer">
      &copy; <%= DateTime.now.year %> Cody Krieger, Brian To, and the 
      <a href="http://sse.se.rit.edu">Society of Software Engineers</a>.
      
      <% if Rails.env.development? %>
      <br /><br />
      <code>
        Session info:
        <br /><br />
        <%= session.inspect %>
      </code>
      <% end %>
    </div>
    
  </div>

</body>
</html>
