<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for? :head_title %>
    <%= yield(:head_title) %>
    - <%= @app_name %>
    <% else %>
    <%= @app_name %>
    <% end%>
  </title>
  <%= stylesheet_link_tag 'application', 'page' %>
  <%= javascript_include_tag 'jquery', 'rails', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="outer-container">
    
    <div id="current-login">
      <% if signed_in? %>
        Aloha, <%= current_user.name %>!<br />
        <%= link_to "Sign Out", sign_out_path %>
      <% else %>
        You're not signed in, fool!<br />
        <%= link_to "Sign In", sign_in_path %>
      <% end %>
    </div>
    
    <h1 id="app_name"><%= link_to @app_name, root_path %></h1>
    <div id="inner-container">
      
      <%= yield(:page_title) if content_for? :page_title %>
      <div id="main-content">
        <% unless flash.nil? %>
          <% flash.each do |f, m| %>
            <div class="flash <%= f %>">
              <%= m %>
            </div>
          <% end %>
        <% end %>
        
        <%= yield %>
      </div>
      
    </div>
    
    <div id="footer">
      &copy; <%= DateTime.now.year %> <%= link_to "Cody Krieger", "https://github.com/codykrieger" %> 
      &amp; <%= link_to "Brian To", "https://github.com/brianto" %> of the 
      <%= link_to "Society of Software Engineers", "http://sse.se.rit.edu" %>.
      
      <% if Rails.env.development? %>
      <br /><br />
      <code>
        Session info:
        <br /><br />
        <%= session.inspect %>
      </code>
      <% end %>
    </div>
    
  </div>

</body>
</html>
